.one-card {
  border: 2px solid rgba(204, 204, 204, 0.2);
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s;
  cursor: pointer;
}

.one-card:hover {
  transform: scale(1.05);
}

.one-card:active {
  transform: scale(1);
}
