.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  height: 60%;
  width: 60%;
  background-color: rgb(253, 253, 253);
  margin-bottom: 1.3rem;
  margin-top: 1rem;
  border: 2px solid rgba(204, 204, 204, 0.1);
  border-radius: 75px;
  animation: startMid 1.5s ease-in-out, gradientAnimation 1.5s linear infinite;
  padding: 30px;
  gap: 15px;
}

@keyframes startMid {
  0%, 50% {
    opacity: 0;
    transform: scale(.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1400px) {
  .cards-grid {
    width: 90%;
    height: 60%;
  }
}

@media (max-width: 780px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}