* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  color: #222222;
  scroll-behavior: smooth;
  text-decoration: none;
}

input {
  appearance: none;
}

.FT-input::-webkit-inner-spin-button,
.FT-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

body {
  background-color: #222222;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

::-webkit-scrollbar {
  display: none;
  width: .5em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 410px) {
  p {
    font-size: .8rem;
  }
}