.main-transaction-coins {
  border-radius: 25px;
  background-color: rgba(204, 204, 204, .1);
  border: 2px solid rgba(204, 204, 204, .3);
  padding: 3px 20px;
}

@media (max-width: 780px) {
  .coin-name {
    font-size: 2rem;
  }
}