.bolder {
  font-weight: 700;
  padding: 0;
}

.main-transaction-coins,
.FT-from-container,
.FT-to-container {
  border-radius: 25px;
  background-color: #cccccc1a;
  border: 2px solid rgba(204, 204, 204, .3);
  padding: 3px 15px;
}

.FT-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: .5rem 0;
}

.FT-input,
.FT-res {
  min-width: 150px;
  max-width: 150px;
  font-weight: 400;
  border: none;
  background-color: #cccccc1a;
  transition: all 0.15s;
  color: #ffffff;
  padding: 0 5px;
  border-radius: 25px;
}

.FT-res {
  text-align: start;
  font-size: .8rem;
}

.FT-input:focus {
  border-bottom: solid 1px #ffffff;
  outline: none;
}

.FT-from-container,
.FT-to-container {
  padding: 3px 6px;
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vertical-separator {
  background-color: #ffffff;
  height: 20px;
  width: 1px;
  margin: 0 5px;
}

@media (max-width: 820px) {
  .coin-name {
    font-size: 2rem;
  }

  .main-transaction-coins,
  .FT-from-container,
  .FT-to-container {
    padding: 5px;
  }

  .FT-container {
    margin-right: 10px;
  }
}