.wip-text {
  flex-wrap: nowrap;
  background-image: -webkit-linear-gradient(to right, #c4ffc4, #9bec9b, #4cfd52, #9bec9b, #c4ffc4);
  background-image: linear-gradient(to right, #c4ffc4, #9bec9b, #4cfd52, #9bec9b, #c4ffc4);
  background-size: 200%;
  animation: gradientAnimation 2.5s linear infinite, fadeUpDown .4s ease-out;;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.txt1 {
  font-weight: 600;
  font-size: 2.8rem;
}

.txt2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: -15px 0 0 0;
}

.txt3 {
  font-weight: 400;
  font-size: .8rem;
  margin: -5px 0;
}

.temporary-container {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}