.cool-txt {
  flex-wrap: nowrap;
  background-image: -webkit-linear-gradient(to right, #c4ffc4, #9bec9b, #4cfd52, #4cfd52, #4cfd52, #9bec9b, #c4ffc4);
  background-image: linear-gradient(to right, #c4ffc4, #9bec9b, #4cfd52, #4cfd52, #4cfd52, #9bec9b, #c4ffc4);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: all 0.25s;
}

.logo {
  font-weight: 600;
  font-size: 4rem;
  animation: startUp .5s ease-in-out, gradientAnimation 1.5s linear infinite;
}

.credits-button {
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px 12px;
  animation: startDown 1s ease-in-out, gradientAnimation 1.5s linear infinite;
  box-shadow: #4cfd52 1px 1px 1px;
  transition: all 0.25s;
}

.cool-txt:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cool-txt:active {
  transform: scale(.9);
}

@keyframes startUp {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes startDown {
  0%, 40% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.temporary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
